.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.label{
  height: 100px;
}

.strength{
  height: 100px;
}

.animation{
  height: 100px;
}

.center-col {
  flex: 1;
  background: #aaa;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.grid{
  width: 50px;
  height: 50px;
}

.motionButton{
  width: 300px;
  height: 200px;
}

*
{
  will-change: unset !important;
}

